* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Fredoka', sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
}

p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Fredoka', sans-serif;
  color: #898883;
}

span {
  font-weight: bold;
}

a, ul , li, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

/* --- FORÇAR VERDE EM TODO O SITE --- */

/* Força o verde nos textos informativos menores e tags span */
span {
  color: #0b663b !important;
}

/* Força o verde em todos os títulos principais e subtítulos do site */
h1, h2, h3, h4, h5, h6 {
  color: #0b663b !important;
}

/* Força o verde em todos os links do menu e botões do site */
a, button {
  color: #0b663b !important;
}

